body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

p{
  line-height: 2;
}

hr{
  margin: 100px auto 100px auto;
  border-style: dotted none none;
  border-width: 7px;
  width: 5%;
  color: #C8C6C6;
}

h1{
  font-size: 5.92rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: Sacramento, cursive;
}

h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  font-weight: bolder;
  text-align: center;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.topContainer{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middleContainer{
  position: relative;
}

.bottomContainer{
  background-color: #38A3A5;
  position: relative;
}

.profile{
  width: 50%;
  margin: 50px auto 50px auto;

}
.pro{
  text-decoration: underline;
}

.skill-row{
  width: 65%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.topCloud{
   position: absolute;
   right: 20%;
   top: 100px;
}

.bottomCloud{
  position: absolute;
  left:20%;
  bottom: 400px;
}

.mountain{
  margin-top: 80px;
  height: 365px;
  width: 800px;
}

.profilePic{
  border-radius: 100%;
  height: 170px;

}

.computerPic{
  border-radius: 100%;
  width: 25%;
  margin-right: 30px;
  float: left;
}

.langPic{
  margin: 20px auto;
  width: 25%;
  float: right
}

.rating{
  padding-bottom: 20px;
  text-align: left;
  position: relative;
}

.footer-link{
  color: #11999E;
  position: relative;
  top: 10px;
}

.btn {
   margin: 30px auto 50px auto;
   background: #00DDE5;
   background-image: -webkit-linear-gradient(top, #00DDE5, #11999E);
   background-image: -moz-linear-gradient(top, #00DDE5, #11999E);
   background-image: -ms-linear-gradient(top, #00DDE5, #11999E);
   background-image: -o-linear-gradient(top, #00DDE5, #11999E);
   background-image: -webkit-gradient(to bottom, #00DDE5, #11999E);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   height: 10px;
   line-height: 10px;
   color: #FFFFFF;
   font-family: Verdana;
   width: 116px;
   font-size: 14px;
   font-weight: 100;
   padding: 18px;
   -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
   -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
   box-shadow: 1px 1px 20px 0 #FFFFFF;
   text-shadow: 0 1px 30px #000000;
   border: solid #11999E 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

#copyright{
  color: #FFFFFF;
  margin-bottom: 0;
  padding-bottom: 5px;
}
